@model MyPortfolio_MVC.Models.TblExpertis
@{
    ViewBag.Title = "UpdateExperties";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Uzmanlık Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.ExpertiseId)
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br>

    <button class="btn btn-outline-success">Güncelle</button>

</form>